In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import csv

# Reading data from a csv file
class ReadDataSet:
        def __init__(self, file_name, batch=3):
            self.__dataset = file_name
            self.__batch = batch
        def get_dataset_by_batch(self):
            """
                Algorithm of reading data from a file by batchs, this is also handy with SGD (stochastic gradien descent) ML algorithm
            """
            with open(self.__dataset) as dataset_file:
                rows = []
                for n,i in enumerate(csv.reader(dataset_file)):
                    if n > 0 and n % self.__batch == 0:
                        yield(np.array(rows))
                        rows = []
                    rows.append(i)
        def get_dataframe(self):
            """
                Load all data at once with pandas dataframe
            """
            dataset_frame = pd.read_csv(self.__dataset, sep=",", header=None, names=["age", "work", "some_number", "social_status", "some_numberv2","if_merried", "some_status","if_family","color","sex","some_numberv3","some_numberv4","some_numberv5", "citizen","income"])
            return dataset_frame
dataset = ReadDataSet("Datasets/adult.data.csv", 5)

In [ ]:
# Get by batchs
for batch_set in dataset.get_dataset_by_batch():
    print(batch_set)
    break

In [3]:
# Get dataframe
dataset_frame = dataset.get_dataframe()
age_income = dataset_frame[["age", "income"]]

In [ ]:
dataset_frame['color'].head(1)

In [4]:
#Some random search through dataset
filter_above_30 = dataset_frame["age"] > 30
above_30_frame = dataset_frame[filter_above_30]
filter_white = above_30_frame["color"] == above_30_frame["color"].unique()[0]
above_30_white = above_30_frame[filter_white]
above_30_white

,age,work,some_number,social_status,some_numberv2,if_merried,some_status,if_family,color,sex,some_numberv3,some_numberv4,some_numberv5,citizen,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K